body {
	background: rgb(240,217,218);
}

header{
	text-align: center;
	color: white;
	margin: 0px, 0px, 0px, 0px;
	border: 7px solid white;
	border-radius:20;
	font-family:
	background:url("images/kermit.jpg");	
}
h2 {
	color: rgb(85, 140,186);
	font-family:"Shadows Into Light Two', cursive;"
		text-align: center;
}

p{
	color: rgb(140, 160, 193);
		text-align: center;
	
}
ul{
	color:  rgb(140, 160, 193);
	text-align: center;
}
ol{
	
	color:  rgb(140, 160, 193);
	text-align: center;
}
a{
	color: rgb(198, 170, 201)
}

