body {
	background: rgb(240,217,218);
}

header{
	  text-align: center;
      background: url('https://lh3.google.com/u/0/d/0B0UojqIzDXkcOEdtemJnQlhQekE=w1274-h824-iv1');
      background-size: cover;
      color: black;
	
}
h2 {
	color: rgb(85, 140,186);
	font-family:"Shadows Into Light Two', cursive;"
		text-align: center;
}

p{
	color: rgb(140, 160, 193);
		text-align: center;
	
}
ul{
	color:  rgb(140, 160, 193);
	text-align: center;
}
ol{
	
	color:  rgb(140, 160, 193);
	text-align: center;
}
a{
	color: rgb(198, 170, 201)
}

